.App {
  text-align: center;
}

.App-header {
  background-color: #59d4e7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mainBox {
  background-color: rgb(66, 56, 53);
  width: 45vw;
  height: 40vh;
  display: flex;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 10px 14px 40px black;
}

.questionNo {
  padding-top: 5px;
  font-weight: bold;
  font-size: 30px;
}

.questionBox {
  text-align: start;
  margin-right: 10px;
  flex: 1;
  border-radius: 10px;
}

.totalLength {
  font-size: 13px;
}

.question {
  font-size: 20px;
 padding-top: 10px;
}

.answerBox {
    flex: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   align-items: center; 
}

.answer {
  width: 90%;
  height: 15%;
  margin:-5px;
  border: 2px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  padding-left: 15px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.answer:hover, .retake:hover {
  background-color: rgb(104, 87, 81);
  scale: 1.05;
}

.scoreBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.retake {
  width: 100px;
  margin-top: 10px;
  height: 30px;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 6px;
  transition-duration: 0.3s;
}

@media (max-width : 560px) {
  .mainBox {
    flex-direction: column;
    height: 60vh;
    width: 80vw;
  }
}

@media (max-width: 180px) {
  .questionNo {
    font-size: 18px;
  }

  .question {
    font-size: 17px;
  }
}